
<footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600"><span>Copyright © 2018 Designed by <a
  href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a>. All rights
reserved.</span>
<%
if (setting !== null) { %>
  <span class="logo-lg"><b><%=  setting.value %></b></span>
  <%
  }%></a>
</footer>
</div>
</div>
<script type="text/javascript" src="/vendor.js"></script>
<script type="text/javascript" src="/bundle.js"></script>

</body>

</html>